{% block footer %}
    <footer class="page-footer saap-dark-green">
        <div class="row">
            <div class="col s12 m4 l1">
                <a href="/">
                    <img src="../static/images/brasao-da-republica-dark-green.png" height="64" class="responsive-image" width="64">
                </a>
            </div>
            <div class="col s12 m4 l3">
                <h5 class="white-text">Contribua com Esse Projeto</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link</a></li>
                </ul>
            </div>
            <div class="col s12 m4 l6">
                <h5 class="white-text">Outras Câmaras usando SAAP</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link</a></li>
                </ul>
            </div>
            <div class="col s12 m4 l2">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright saap-light-green">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
{% endblock %}