{%  extends "base.html" %}
{% block main_content %}
<nav style="height:49px" >
  <div class="nav-wrapper"  >
    <div class="col s12">
      <br>
      <a href="#!"> <span style="padding-left: 20px">
      <font size="5px" face = "ARIAL">
      <b>Home</b>
      </font>
      </span></a>
      <span style="padding-left: 100px">
      <font size="4px" face = "ARIAL">
      Cadastro do Cidadão
      </font>
      </span>
    </div>
  </div>
</nav>
<br>
<form action="{% url 'cadastro' %}" method='POST'>
  {% csrf_token %}
  <table>
    <td width="5%"></td>
    <td width="95%">
      <table>
        <tr>
          <td width="50%">
            <div style="width: 400px;">
              <label for='first_name'><font color="black">Nome (*)</font></label>
              <input type='text' name='first_name' id='first_name' required>
              <label for='last_name'><font color="black">Sobrenome (*)</font></label>
              <input type='text' name='last_name' id='last_name' required>
              <label for='username'><font color="black">Nome de Usuário (*)</font></label>
              <input type='text' name='username' id='username' required>
              <label for='email'><font color="black">E-mail (*)</font></label>
              <input type='text' name='email' id='email' required>
              <label for='confirmacao_email'><font color="black">Confirmar e-mail (*)</font></label>
              <input type='text' name='confirmacao_email' id='confirmacao_email' required>
              <label for='password'><font color="black">Senha (*)</font></label>
              <input type='password' name='password' id='password' required>
              <label for='confirmacao_password'><font color="black">Confirmar senha (*)</font></label>
              <input type='password' name='confirmacao_password' id='confirmacao_password' required>
          </td>
          </div>
          <td width="50%">
            <div style="width: 400px;">
              <label for='data_de_nascimento'><font color="black">Data de Nascimento (*)</font></label>
              <input type='date' name='data_de_nascimento' id='data_de_nascimento' required>
              <label for='sexo'><font color="black">Sexo (*)</font></label><br><br>
              <input name="sexo" type="radio" id="feminino"/>
              <label for="feminino">Masculino</label>
              <input name="sexo" type="radio" id="masculino"/>
              <label for="masculino">Feminino</label><br><br>
              <label for='municipio'><font color="black">Município/UF (*)</font></label>
              <table>
                <tr>
                  <td>
                    <div style="width: 300px;">
                      <input type='text' name='municipio' id='municipio' required> 
                    </div>
                  </td>
                  <td>
                    <div style="width: 50px;">
                      <select name="uf" id="uf">
                        <option value="">UF</option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AM">AM</option>
                        <option value="AP">AP</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MG">MG</option>
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="PR">PR</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SE">SE</option>
                        <option value="SP">SP</option>
                        <option value="TO">TO</option>
                      </select>
                    </div>
                  </td>
                </tr>
              </table>
              <br><br><br><br><br><br><br><br><br>
          </td>
          </div>
        <tr>
          <td>
            <span style="padding-left: 415px">
            <button type='button'>Cancelar</button>
            <button type='submit'>Confirmar</button>
            </span>
          </td>
        </tr>
      </table>
    </td>
  </table>
  <br><br><br><br><br><br>
</form>
{% endblock main_content %}
