{%  extends "base.html" %}
{% block main_content %}
  <nav style="height:40px" >
    <div class="nav-wrapper"  >
      <div class="col s12">
        <br>
      <a href="#!"> <span style="padding-left: 20px">
        <font size="5px" face = "ARIAL">
           <b>Home</b>
        </font>
        </span></a>
          <span style="padding-left: 100px">
            <font size="4px" face = "ARIAL">
              Login
            </font>
        </span>
      </div>
    </div>
  </nav>
        <div class="container">
            <div class="row">
                <div class="col s12 offset-m2 m8 offset-l3 l6">

                    <form action="{% url 'login' %}" method="POST">{% csrf_token %}

                        <input type="hidden" name="next_url" value="{{next_url}}">
                        <div class="login-card hoverable center-align">
                            <div class="card-content">
                                <span class="card-title  text-light-blue">Titulo</span>
                                <div class="input-field">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input  id="username" name="username" type="text" class="validate">
                                    <label for="username">Nome de Usuário</label>
                                </div>
                                <div class="input-field">
                                    <i class="material-icons prefix">lock</i>
                                    <input  id="password" name="password" type="password" class="validate">
                                    <label for="password">Senha</label>
                                    <button class="btn waves-effect waves-light green" type="submit" formaction="">Enviar</button>
                                    <br><p class="center text-green"><a href="Cadastro text-green">Deseja se cadastrar?</a></p>
                                    <p class="center text-green"><a href="Esqueceu">Esqueceu sua senha?</a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--<div class="row">
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="white-text" font="Arial"><center><b>Aviso</b><br><br>
            Não esqueça de clicar em sair <br> ou fechar seu navegador quando você acabar.</center>
          </span>
        </div>
      </div>
    </div>-->

{% endblock main_content %}
