{%  extends "base.html" %}
{% block main_content %}
        <div class="container">
            <div class="row">
                <div class="col s12 offset-m2 m8 offset-l3 l6">
                    <form action="{% url 'login' %}" method="POST">{% csrf_token %}

                        <input type="hidden" name="next_url" value="{{next_url}}">
                        <div class="login-card hoverable center-align">
                            <div class="card-content">
                                <span class="card-title  text-light-blue">Titulo</span>
                                <div class="input-field">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input  id="username" name="username" type="text" class="validate">
                                    <label for="username">Nome de Usuário</label>
                                </div>
                                <div class="input-field">
                                    <i class="material-icons prefix">lock</i>
                                    <input  id="password" name="password" type="password" class="validate">
                                    <label for="password">Senha</label>
                                    <p class="center text-green"><small><a href="Esqueceu">Esqueceu sua senha?</a></small></p>
                                    <button class="btn waves-effect waves-light green" type="submit" formaction="">Enviar</button>
                                </div>
                            </div>
                            <div class="card-action right-align">
                                <a href="Cadastro text-green">Deseja se cadastrar?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock main_content %}
