{%  extends "base.html" %}
{% block main_content %}
{% load i18n %}
<main>
<br>
<table>
  <tr>
    <td width="5%"></td>
    <td width="95%">
      <p class="text">{% trans 'Olá ' %} <b>{{user.first_name}}</b>, seja bem vindo ao Sistema de Apoio à Atividade Parlamentar!</p>
      <br>
      <p class="text">Informações:</p>
      <p class="text">{% trans 'Nome completo: ' %} <b>{{request.user.get_full_name}}</b></p>
      <p class="text">{% trans 'E-mail: ' %} <b>{{request.user.email}}</b></p>
      <!--<p class="text">{% trans 'Data de nascimento: ' %} <b>{{request.user.data_de_nascimento}}</b></p>
        <p class="text">{% trans 'Sexo: ' %} <b>{{request.user.sexo}}</b></p>
        <p class="text">{% trans 'Município/UF: ' %} <b>{{request.user.municipio}} - {{request.user.uf}}</b></p>-->
      <br><br>
      <a href="/mudar_senha/"><span style="color:black"> Mudar Senha </span></a>
      <br>
      <a href="{% url 'logout' %}"><span style="color:black"> Fazer logout </span></a>
      <br>
      <a href="{% url 'excluir_conta' %}"><span style="color:black"> Excluir minha conta </span></a>
      <br>
      <a href="{% url 'ticket' %}"><span style="color:black"> Criar um novo Ticket </span></a>
      <br><br><br><br><br><br>
    </td>
  </tr>
</table>
</main>
{% endblock main_content %}
