Host *
  User vagrant
  # User root
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentitiesOnly yes
  LogLevel FATAL


Host digital_ocean
  Hostname 10.10.10.2 
  Port 22
  IdentityFile .vagrant/machines/aws/virtualbox/private_key
  # IdentityFile ~/.ssh/id_rsa
