{%  extends "base.html" %}
{% block main_content %}
<main>
  <div class="container">
    <div class="row">

       <div class="col s6 m6 l6">
         <ul class="collection">
           <p>Lista de Contatos</p>
           {% for contato in lista_contatos %}
             <li class="collection-item avatar">
               <img src="../static/images/contato.png" alt="" class="circle"></img>
                <span class="title">{{ contato.nome }}</span>
                <p> {{ contato.cpf }}<br>
                  {{ contato.email }}<br>
                  {{ contato.telefone}}<br>
                </p>
                <i class="material-icons">grade</i>
              </li>
            {% endfor %}
            <br>
            <a href="/exclui_contato"><button class="btn waves-effect waves-light saap-dark-green left" type="submit'">Excluir contato</button></a>
            <a href="/cadastro_contato"><button class="btn waves-effect waves-light saap-dark-green right" type="submit'">Cadastrar contato</button></a>
          </ul>
        </div>

        <div class="col s6 m6 l6 ">
          <ul class="collection">
            <p>Tickets Recebidos</p>

            {% for ticket in lista_tickets %}
              <li class="collection-item avatar">
                <img src="../static/images/contato.png" alt="" class="circle"></img>
                 <span class="title">{{ ticket.remetente }}</span>
                 <p> {{ ticket.titulo }}<br>
                   {{ ticket.tipo_ticket }}<br>
                   {{ ticket.corpo_texto}}<br>
                 </p>
                 <i class="material-icons">grade</i>
               </li>
             {% endfor %}
             <br>
           </ul>
         </div>

      </div>
  </div>

<main>



{% endblock main_content %}
