{%  extends "base.html" %}
{% block main_content %}

<div class="container">
  <div class="row s12 m12 l12">

    <div class="col s6 m6 l6">
      <div class="row">
        <br>
        <div class="col s4 m4 l4"
          <a href="/cadastro_contato"><button class="btn waves-effect waves-light saap-dark-green" type="submit'">Cadastrar contato</button></a>
        </div>
        <div class="col s7 m7 l7"
          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger saap-dark-green" href="#modal1">Criar grupo</a>


          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <form action="{% url 'criar_grupo' %}" method="POST">
            <div class="modal-content">
              <h4>Criar grupo de contatos</h4>
              <p>Digite aqui o nome do grupo de contatos:</p>
              <input  id="nome_grupo" name="nome_grupo" type="text" class="validate">
            </div>
            <div class="modal-footer">
                {% csrf_token %}
              <button href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" type="submit">Confirmar</button>
            </div>
          </form>
          </div>
        </div>
        <div></div>
      </div>
      <div class="row">
      <form action="/busca_contatos/" method="POST">
        <div class="col s4 m4 l4">
      {% csrf_token %} 
          <select name="tipo_busca" id="tipo_busca">
            <option value="" selected>Pesquisar por</option>
            <option value="Estado">Estado</option>
            <option value="Cidade">Cidade</option>
            <option value="CPF">CPF</option>
            <option value="Data_aniversario">Data de Nascimento</option>
            <option value="Genero">Gênero</option>
          </select>
        </div>
        <div class="col s4 m4 l4">
          <input  id="pesquisa" name="pesquisa" type="text" class="validate" placeholder="pesquisa">
        </div>
        <div class="col s3 m3 l3">
          <button class="btn waves-effect waves-light saap-dark-green" type="submit"><i class="material-icons">search</i></button>
        </div>
        </form>
      </div>

     <ul class="collection">
        <p>Lista de Contatos</p>
        <ul class="collapsible popout" data-collapsible="accordion">
          {% for contato in lista_contatos %}
          <li>
            <br>
            <form action="/atualizar_contato/" method="POST">
              {% csrf_token %}
              <input type="hidden" name="contato_id" value="{{contato.id}}">
              <a href="/deletar_contato/{{contato.id}}"class="btn-floating waves-effect waves-light saap-dark-green right"><i class="material-icons">delete</i></a>
              <button class="btn-floating waves-effect waves-light saap-dark-green right" type="submit"><i class="material-icons">mode_edit</i></button>
            </form>
            <div class="collapsible-header"><i class="material-icons">perm_identity</i>{{ contato.nome }}</div>
            <div class="collapsible-body">
              <p>
                Email : {{ contato.email }}<br>
                Telefone : {{ contato.telefone}}<br>
                Celular : {{ contato.celular}}<br>
                Fax : {{ contato.fax}}<br>
                Data de Nascimento: {{ contato.data_de_nascimento}}<br>
                Sexo: {{ contato.sexo}}<br>
                CPF: {{ contato.cpf }}<br>
                RG: {{ contato.rg}}<br>
                Endereço: {{ contato.endereco}}<br>
                Cidade : {{ contato.cidade}}<br>
                Estado : {{ contato.estado}}<br>
                CEP : {{ contato.cep}}<br>
                Grupo : {{ contato.grupo}}<br>
                Título : {{ contato.titlo}}<br>
                Título de Eleitor : {{ contato.titulo_de_eleitor}}<br>
                Zona : {{ contato.zona}}<br>
                Seção : {{ contato.secao}}<br>
                Profissão : {{ contato.profissao}}<br>
                Cargo : {{ contato.cargo}}<br>
                Empresa : {{ contato.empresa}}<br>
                <br>
                Dependente<br>
                Nome : {{ contato.dependente_nome}}<br>
                Aniversário : {{ contato.dependente_aniversario}}<br>
                Partido : {{ contato.dependente_partido}}<br>
                Parentesco : {{ contato.dependente_parentesco}}<br>
                Data da filiação : {{ contato.dependente_data_filiacao}}<br>
              </p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </ul>
    </div>

    

    <div class="col s6 m6 l6">
      

     {% for grupo in lista_grupo %}
      <ul class="collapsible" data-collapsible="accordion">

      <li>
      <div class="collapsible-header">{{grupo.nome.capitalize}}<a class="waves-effect waves-light btn-small btn right green darken-1">Deletar</a></div>
      <div class="collapsible-body ">
      {% for contato in grupo.contatos.all %}
      <div class="card-panel teal">
        <span class="white-text">
       {{contato.nome }} 
       {{contato.email}} 
        </span>
      </div>

      {% endfor %}
      </div>
      </li>
      </ul>
     {% endfor %}
    </div>

    <!-- Modal para adiconar contatos em um grupo -->
          
          


    <div class="col s12 m12 l12">
    {% if resposta.count > 1%}
    <div class="row">
      <form action="/adicionar_contatos/" method="POST">
          <a><button class="btn waves-effect waves-light saap-dark-green" type="submit'">Cadastrar contato</button></a>
          <div class="input-field col s6">
            <i class="material-icons prefix">contacts</i>
            
            <input id="icon_prefix" type="text" class="validate" name="nome_grupo" id="nome_grupo">
            <label for="icon_prefix" >Nome do Grupo</label>
          </div>

          {% csrf_token %}
      </div>
      {%endif%}
      <ul class="collapsible" data-collapsible="accordion">
        {% for contato in resposta %}
          <li>
          <input id='testCheckHidden' type='hidden' value='{{contato.id}}' name='testName'>
          <div class="collapsible-header"><input type="checkbox" {% if enable %} checked="{{contato.id}}" {% endif %} name='contatos' id="{{contato.id}}" value="{{contato.id}}" />
            <label for="{{contato.id}}">{{contato.nome.capitalize}}</label></div>
          <div class="collapsible-body">
            <p>{{contato.id}}</p>
            <p>{{contato.data_de_nascimento}}</p>
            <p>{{contato.sexo}}</p>
            <p>{{contato.endereco}}</p>
          </div>
 
            
          </li>

        {% endfor %}

        </form>
      </ul>
    </div>

  </div>
</div>

{% endblock main_content %}
