{%  extends "base.html" %}
{% block main_content %}
<form action="{% url 'exclui_contato' %}"  method="post">
  {% csrf_token %}
    <label>Digite o email do contato que deseja excluir: <br>
          <input type='text' name='busca_email' id='nome' required>
          <br><br>

      <a href="/exclui_contato"><button class="btn waves-effect waves-light saap-dark-green left" type="submit'">Excluir contato</button>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
</form>
{% endblock main_content %}
