{%  extends "base.html" %}
{% block main_content %}


<div class="container">
  <div class="row s12 m12 l12">

    <div class="col s6 m6 l6 ">
      <ul class="collection">
        <p>Tickets Recebidos</p>
        {% for ticket in lista_tickets %}
        <li class="collection-item avatar">
          <img src="../static/images/contato.png" alt="" class="circle"></img>
          <span class="title">{{ ticket.remetente }}</span>
          <form action="/publicar_ticket/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="ticket_id" value="{{ticket.id}}">
            <a href="/deletar_ticket/{{ticket.id}}"class="btn-floating btn-large waves-effect waves-light saap-dark-green right"><i class="material-icons">delete</i></a>
            {% if ticket.aprovado == False%}<button class="btn-floating btn-large waves-effect waves-light saap-dark-green right" type="submit"><i class="material-icons">done</i></button>{% endif %}
          </form>
          <p> {{ ticket.titulo }}<br>
            {{ ticket.tipo_ticket }}<br>
            {{ ticket.corpo_texto}}<br>
          </p>
          <i class="material-icons">grade</i>
        </li>
        {% endfor %}
        <br>
      </ul>
    </div>

  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col s6 m6 l6">
        <h5><a href="/" style="color: rgb(35,142,35)">SAAP</a> > <a href="/" style="color: rgb(35,142,35)">{{ gabinete.nome_gabinete }}</a> > <a href="/gabinete/tickets/" style="color: rgb(35,142,35)">Tickets</a></h5>
      </div>
    </div>
    <div class="row">

        <div class="col s6 m6 l6 ">
          <ul class="collection">
            <p>Tickets Recebidos</p>

            {% for ticket in lista_tickets %}
              <li class="collection-item avatar">
                <img src="../static/images/contato.png" alt="" class="circle"></img>
                 <span class="title">{{ ticket.remetente }}</span>
                  <form action="/publicar_ticket/" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="ticket_id" value="{{ticket.id}}">
                  <a href="/deletar_ticket/{{ticket.id}}"class="btn-floating btn-large waves-effect waves-light saap-dark-green right"><i class="material-icons">delete</i></a>
                  {% if ticket.aprovado == False%}<button class="btn-floating btn-large waves-effect waves-light saap-dark-green right" type="submit"><i class="material-icons">done</i></button>{% endif %}
                  </form>
                 <p> {{ ticket.titulo }}<br>
                   {{ ticket.tipo_ticket }}<br>
                   {{ ticket.corpo_texto}}<br>
                 </p>
                 <i class="material-icons">grade</i>
               </li>
             {% endfor %}
             <br>
           </ul>
         </div>

      </div>
  </div>

<main>




{% endblock main_content %}
