{%  extends "base.html" %}
{% block main_content %}
{% load i18n %}

<main>
  <div class="container">
    <div class="row">
      <div class="col s12 offset-m2 m8 offset-l3 l6">
        {% if messages %}
        <br>
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="{% url 'vereadores' %}" method='POST'>
          {% csrf_token %}
          <div class="login-card hoverable center-align">
            <div class="card-content">
              <div class="input-field col s12">
                <p>Escolha um vereador para acessar a página</p>
                <br>
                <select name="nome_organizador" id="nome_organizador">
                  <option value="" selected>Nome do Organizador</option>
                  {% for organizador in lista_organizadores %}
                  <option value="{{organizador.first_name}}">{{ organizador.first_name }}</option>
                  {% endfor %}
                </select>
                <div class="input-field col s12">
                  <br>
                  <div>
                    <button class="btn waves-effect waves-light saap-dark-green" type="submit'">Confirmar</button>
                  </div>
                  <br>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

{% endblock main_content %}
